body {
  color: black;
  background: linen;
  margin: 0;
}

.markdown-block p,
.markdown-block h2,
.markdown-block h3 {
  margin: 0 0 .5em;
}

@keyframes flash-border {
  from {
    stroke: black;
  }
  
  to {
    stroke: white;
  }
}

@keyframes border-march {
  from {
    stroke-dashoffset: 0;
  }
  
  to {
    stroke-dashoffset: 6;
  }
}

.flashing-zone {
  stroke: black;
  stroke-dasharray: 4 2;
  stroke-width: 2;
  animation: 
    .5s linear 0s infinite alternate flash-border, 
    1.5s linear 0s infinite border-march;
}

.no-interaction {
  pointer-events: none;
}
