.main {
    display: flex;
    flex:1;
    overflow: hidden;
}

.leftNav {
    align-self: stretch;
    border-right: 3px solid black;
    padding: 5px;
    overflow-y: auto;
}

.tabMenuHolder {
    flex: 1;
    overflow-y: auto;
}
