
.mainList {
    list-style: none;
    padding: 0;
    border-left: 3px double black;
    margin: 0;
}

.mainList li {
    border-bottom: 1px dashed black;
    padding: 2px;
}

.heavyList {
    border: none;
}

.heavyList > li {
    border-bottom: 2px dashed black;
    padding: 4px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.buttonSet {
    display: flex;
}

.plusButton {
    background-color: lightgreen;
}

.plusButton:hover {
    background-color: palegreen;
}

.deleteButton {
    background-color: red;
}

.deleteButton:hover {
    background-color: pink;
}

.moveButton {
    background-color: skyblue;
}

.moveButton:hover {
    background-color: lightblue;
}