
.mainList {
    list-style: none;
    padding: 0 5px;
    border: 1px solid aqua;
}

.mainList li > div {
    border-bottom: 1px solid aqua;
    margin-bottom: 5px;
}

.buttonSet {
    display: flex;
}

.plusButton {
    margin-left: auto;
    background-color: seagreen;
}

.plusButton:hover {
    background-color: lightgreen;
}

.deleteButton {
    background-color: red;
}

.deleteButton:hover {
    background-color: pink;
}

.moveButton {
    background-color: skyblue;
}

.moveButton:hover {
    background-color: lightblue;
}