.frame {
    display: flex;
    justify-content: center;
}

.contents {
    margin: 0 auto .25rem;
    width: 30rem;
    max-width: 100%;
    font-size: large;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button {
    font-size: inherit;
    padding: .25em;
    min-width: 5em;
    cursor: pointer;
    background-color: white;
    color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-color .5s, color .4s;
}

.current.button {
    background-color: black;
    color: white;
}

.button:hover {
    background-color: gray;
}

.button span {
    background-color: rgba(255, 255,255,.5);
    color: inherit;
}

.current.button span {
    background-color: rgba(12, 12, 12, 0.5);
}
