.hotSpot {
    fill: rgba(0, 243, 8, 0);
    transition: fill .5s;
    pointer-events: all;
    stroke: white;
}

.hotSpot:hover {
    fill: rgba(0, 243, 8, 0.5);
    stroke: white;
    stroke-dasharray: 1,1;
}

.walkableArea {
    fill: rgba(255, 100, 255, .8);
}
