.interactionTable thead th {
    background-color: black;
    color: white;
    font-weight: 400;
}

.interactionTable tbody td {
    background-color: lightgray;
    color: black;
}

.interactionTable .centered {
    text-align: center;
}